.chk-content-wrapper {
	margin-top: -30px;
	margin-right: -30px;
	margin-left: -30px;
}
.user-profile-wrapper {
	padding: 0 30px;
}
.user-profile-wrapper .top-block, .bg-success{
	background: #fe324d !important;
}
@media(max-width:560px){
    .img-pro-head{
     display: none;   
    }
    .user-profile-wrapper {
	padding-top: 3rem;
}
}
