.input-group-prepend {
    background-color: #dee4e8;
    span {
        line-height: 2.25;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.action {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}

#search {
    padding: 10px;
    padding-left: 0;
    margin-bottom: 15px;
    input {
        width: 100%;
        display: block;
    }
}

.list-group-item{
    span.glyphicon-ban-circle{
        display: none !important;
    }
}

.is-player{
    background-color: #DEE4E8 !important;
    span.glyphicon-unchecked, span.glyphicon-check{
        display: none !important;
    }
    span.glyphicon-ban-circle{
        display: inline !important;
    }
}



.cover-photos {
    width: 40px;
    height: 40px;
}

.loading-import{
    height: 3px;
    margin-left: -1.25rem;
    width: calc(100% + 2.49rem);
    margin-right: 2.25rem;
    .loading-porcentage{
        height: 100%;
        background-color: #fe324d;
        transition: all ease-in-out 1.5s; 
    }
}


.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}
