@import "bootstrap";
/*==== Core Mixins ====*/
@import "mixins";
/*==== Core Styles =====*/
@import "core";
@import "elements";
@import "utilities/utilities";
.actions{
	i{
		display: inline-block;
	    padding: 5px;
	    color: white;
	    margin: 10px 2px;
	    cursor: pointer;
	}
	.edit{
		background: #fe324d;
	}
	.chat{
		background: #272b39;
	}
	.delete{
	    background: #008e76;
	}
}
.btn-primary{
	background: #fe324d !important;
	border: 0 !important;
}
.loaderLocker{
	position: fixed;
	z-index: 1000;
	left: 8rem;
	img{
		max-width: 100%;
	    height: 200px;
	}
	text-align: center;
}
.btn-secondary {
    background-color: #008e76 !important;
    border-color: #008e76 !important;
    color: white !important;
}
.btn-danger{
	background: #e7cc61 !important;
	border-color:#e7cc61 !important;
}
.user-profile-wrapper .top-block, .bg-success {
    background: #fe324d !important;
}
@media(max-width: 960px) {
	.loaderLocker{
		left: 0
	}
}