

<div class="row stats-grid">
   <div class="col-xl-3 col-lg-6 col-md-6 mb-4">
      <div class="card rounded-0">
         <div class="card-body stat-border-primary over-visible">
            <div class="d-flex justify-content-between mb-2">
               <div class="d-flex align-self-center">
                  <h4 class="fw-normal">Total Profit</h4>
               </div>
               <div class="d-flex align-self-center">
                  <div class="dropdown show">
                     <a class="text-muted" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <small> Today</small>
                     <i class="fa fa-angle-down"></i>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="javascript:void(0)">Week</a>
                        <a class="dropdown-item" href="javascript:void(0)">Month</a>
                        <a class="dropdown-item" href="javascript:void(0)">Year</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-between">
               <div class="align-self-center">
                  <h2 class="mb-1 fw-normal fs-26">$40,200</h2>
                  <p class="small text-muted">Last week (40.5%)</p>
               </div>
               <div class="d-flex align-self-center">
                  <span class="text-success"><i class="fa fa-arrow-up fa-2x"></i></span>
               </div>
            </div>
         </div>
      </div>
      <!-- card-closed -->
   </div>
   <div class="col-xl-3 col-lg-6 col-md-6 mb-4">
      <div class="card rounded-0">
         <div class="card-body stat-border-warning over-visible">
            <div class="d-flex justify-content-between mb-2">
               <div class="d-flex align-self-center">
                  <h4 class="fw-normal">Visits</h4>
               </div>
               <div class="d-flex align-self-center">
                  <div class="dropdown show">
                     <a class="text-muted" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <small> Today</small>
                     <i class="fa fa-angle-down"></i>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="javascript:void(0)">Week</a>
                        <a class="dropdown-item" href="javascript:void(0)">Month</a>
                        <a class="dropdown-item" href="javascript:void(0)">Year</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-between">
               <div class="align-self-center">
                  <h2 class="mb-1 fw-normal fs-26">7,115</h2>
                  <p class="small text-muted">Last week (40.5%)</p>
               </div>
               <div class="d-flex align-self-center">
                  <span class="text-success"><i class="fa fa-arrow-up fa-2x"></i></span>
               </div>
            </div>
         </div>
      </div>
      <!-- card-closed -->
   </div>
   <div class="col-xl-3 col-lg-6 col-md-6 mb-4">
      <div class="card rounded-0">
         <div class="card-body stat-border-success over-visible">
            <div class="d-flex justify-content-between mb-2">
               <div class="d-flex align-self-center">
                  <h4 class="fw-normal">New Orders</h4>
               </div>
               <div class="d-flex align-self-center">
                  <div class="dropdown show">
                     <a class="text-muted" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <small> Today</small>
                     <i class="fa fa-angle-down"></i>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="javascript:void(0)">Week</a>
                        <a class="dropdown-item" href="javascript:void(0)">Month</a>
                        <a class="dropdown-item" href="javascript:void(0)">Year</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-between">
               <div class="align-self-center">
                  <h2 class="mb-1 fw-normal fs-26">1455</h2>
                  <p class="small text-muted">Last week (40.5%)</p>
               </div>
               <div class="d-flex align-self-center">
                  <span class="text-danger"><i class="fa fa-arrow-down fa-2x"></i></span>
               </div>
            </div>
         </div>
      </div>
      <!-- card-closed -->
   </div>
   <div class="col-xl-3 col-lg-6 col-md-6 mb-4">
      <div class="card rounded-0">
         <div class="card-body stat-border-inverse over-visible">
            <div class="d-flex justify-content-between mb-2">
               <div class="d-flex align-self-center">
                  <h4 class="fw-normal">Comments</h4>
               </div>
               <div class="d-flex align-self-center">
                  <div class="dropdown show">
                     <a class="text-muted" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <small> Today</small>
                     <i class="fa fa-angle-down"></i>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="javascript:void(0)">Week</a>
                        <a class="dropdown-item" href="javascript:void(0)">Month</a>
                        <a class="dropdown-item" href="javascript:void(0)">Year</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-between">
               <div class="align-self-center">
                  <h2 class="mb-1 fw-normal fs-26">5,400</h2>
                  <p class="small text-muted">Last week (40.5%)</p>
               </div>
               <div class="d-flex align-self-center">
                  <span class="text-success"><i class="fa fa-arrow-up fa-2x"></i></span>
               </div>
            </div>
         </div>
      </div>
      <!-- card-closed -->
   </div>
</div>
<div class="row mb-n2 mt-4">
   <div class="col-xl-3 col-lg-6 col-md-6 mb-4 col-half-lg-down mb-3 mb-5-down">
      <div class="card border-0 bg-light hover-up">
         <div class="card-head d-flex justify-content-between pt-3 pb-2 px-3 bg-primary hover-up-content">
            <div class="align-self-center">
               <span class="d-block fa-2x">14,8952</span>
               <span class="d-block">Total Income</span>
            </div>
            <h5 class="align-self-center"> <i class="material-icons font-xl">attach_money</i></h5>
         </div>
         <div class="card-body p-0">
            <div class="w-100 height-130">
               <div class="card-actions text-center">
                  <a href="javascript:void(0)"> <i class="icon-pencil icons"></i><a class="tooltip-link">Edit</a></a>
                  <a href="javascript:void(0)"><i class="icon-close icons" aria-hidden="true"></i><a class="tooltip-link">Remove</a></a>
               </div>
               <h5 class="py-3 px-4 fw-normal">Stats This Week</h5>
               <ngx-charts-bar-vertical [scheme]="barColorScheme" [results]="products" (select)="onSelect($event)">
               </ngx-charts-bar-vertical>
            </div>
         </div>
      </div>
      <!-- card-closed -->
   </div>
   <div class="col-xl-3 col-lg-6 col-md-6 mb-4 col-half-lg-down mb-3 mb-5-down">
      <div class="card border-0 bg-light hover-up">
         <div class="card-head d-flex justify-content-between pt-3 pb-2 px-3 bg-warning hover-up-content">
            <div class="align-self-center">
               <span class="d-block fa-2x">98,764</span>
               <span class="d-block">Total Users</span>
            </div>
            <h5 class="align-self-center"> <i class="material-icons font-xl">supervisor_account</i></h5>
         </div>
         <div class="card-body p-0">
            <div class="w-100 height-130">
               <div class="card-actions text-center">
                  <a href="javascript:void(0)"> <i class="icon-pencil icons"></i><a class="tooltip-link">Edit</a></a>
                  <a href="javascript:void(0)"><i class="icon-close icons" aria-hidden="true"></i><a class="tooltip-link">Remove</a></a>
               </div>
               <h5 class="py-3 px-4 fw-normal">Stats This Week</h5>
               <ngx-charts-line-chart [scheme]="colorScheme" [results]="orders" [autoScale]="autoScale" (select)="onSelect($event)">
               </ngx-charts-line-chart>
            </div>
         </div>
      </div>
      <!-- card-closed -->
   </div>
   <div class="col-xl-3 col-lg-6 col-md-6 mb-4 col-half-lg-down mb-3 mb-5-down">
      <div class="card border-0 bg-light hover-up">
         <div class="card-head d-flex justify-content-between pt-3 pb-2 px-3 bg-success hover-up-content">
            <div class="align-self-center">
               <span class="d-block fa-2x">$10,583</span>
               <span class="d-block">Total Profit</span>
            </div>
            <h5 class="align-self-center"><i class="material-icons font-xl">donut_small</i></h5>
         </div>
         <div class="card-body p-0">
            <div class="w-100 height-130">
               <div class="card-actions text-center">
                  <a href="javascript:void(0)"> <i class="icon-pencil icons"></i><a class="tooltip-link">Edit</a></a>
                  <a href="javascript:void(0)"><i class="icon-close icons" aria-hidden="true"></i><a class="tooltip-link">Remove</a></a>
               </div>
               <h5 class="py-3 px-4 fw-normal">Stats This Week</h5>
               <ngx-charts-bar-vertical [scheme]="barColorScheme2" [results]="refunds" (select)="onSelect($event)">
               </ngx-charts-bar-vertical>
            </div>
         </div>
      </div>
      <!-- card-closed -->
   </div>
   <div class="col-xl-3 col-lg-6 col-md-6 mb-4 col-half-lg-down mb-3 mb-5-down">
      <div class="card border-0 bg-light hover-up">
         <div class="card-head d-flex justify-content-between pt-3 pb-2 px-3 bg-danger hover-up-content">
            <div class="align-self-center">
               <span class="d-block fa-2x">$7,845</span>
               <span class="d-block">Total Expensive</span>
            </div>
            <h5 class="align-self-center"> <i class="material-icons font-xl">swap_vert</i></h5>
         </div>
         <div class=" p-0">
            <div class="w-100 height-130">
               <div class="card-actions text-center">
                  <a href="javascript:void(0)"> <i class="icon-pencil icons"></i><a class="tooltip-link">Edit</a></a>
                  <a href="javascript:void(0)"><i class="icon-close icons" aria-hidden="true"></i><a class="tooltip-link">Remove</a></a>
               </div>
               <h5 class="py-3 px-4 fw-normal">Stats This Week</h5>
               <ngx-charts-line-chart [scheme]="colorScheme" [results]="customers" [autoScale]="autoScale" (select)="onSelect($event)">
               </ngx-charts-line-chart>
            </div>
         </div>
      </div>
      <!-- card-closed -->
   </div>
</div>
<div class="row">
   <div widget class="col-sm-12 col-md-12 col-lg-6 pb-md-6">
      <div class="chk-block">
         <div class="chk-block-title">
            <div class="d-flex justify-content-between">
               <div class="d-flex align-self-center">
                  <h3 class="text-capitalize">Dynamic Chart</h3>
               </div>
               <div class="d-inline-flex align-self-center">
                  <div class="chk-contextual-link widget-controls">
                     <a data-widgster="expand" href="javascript:void(0)" class="transition"><i class="icon-plus icons"></i></a>
                     <a data-widgster="collapse" href="javascript:void(0)" class="transition"><i class="icon-minus icons"></i></a>
                     <a data-widgster="close" href="javascript:void(0)" class="transition"><i class="icon-close icons"></i></a>
                     <a data-widgster="fullscreen" href="javascript:void(0)">
                     <i class="icon-size-fullscreen icons"></i>
                     </a>
                     <a data-widgster="restore">
                     <i class="icon-size-actual icons"></i>
                     </a>
                  </div>
                  <!-- Contextual link closed -->
               </div>
            </div>
         </div>
         <!-- chk block title closed -->
         <div class="chk-block-content widget-body">
            <div class="w-100 height-300">
               <ngx-charts-area-chart [scheme]="colorScheme2" [results]="cost" [gradient]="gradient" [tooltipDisabled]="tooltipDisabled" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [autoScale]="autoScale" (select)="onSelect($event)">
               </ngx-charts-area-chart>
            </div>
         </div>
         <!-- chk-block-content closed -->
      </div>
      <!-- chk-block-closed -->
   </div>
   <div widget class="col-sm-12 col-md-12 col-lg-6 pb-md-6">
      <div class="chk-block">
         <div class="chk-block-title">
            <div class="d-flex justify-content-between">
               <div class="d-flex align-self-center">
                  <h3 class="text-capitalize">Pie Chart</h3>
               </div>
               <div class="d-inline-flex align-self-center">
                  <div class="chk-contextual-link widget-controls">
                     <a data-widgster="expand" href="javascript:void(0)" class="transition"><i class="icon-plus icons"></i></a>
                     <a data-widgster="collapse" href="javascript:void(0)" class="transition"><i class="icon-minus icons"></i></a>
                     <a data-widgster="close" href="javascript:void(0)" class="transition"><i class="icon-close icons"></i></a>
                     <a data-widgster="fullscreen" href="javascript:void(0)">
                     <i class="icon-size-fullscreen icons"></i>
                     </a>
                     <a data-widgster="restore">
                     <i class="icon-size-actual icons"></i>
                     </a>
                  </div>
                  <!-- Contextual link closed -->
               </div>
            </div>
         </div>
         <!-- chk-block title closed -->
         <div class="chk-block-content widget-body">
            <div class="w-100 height-300 chankya-custom-legends">
               <ngx-charts-advanced-pie-chart [scheme]="colorScheme2" [results]="pie" [gradient]="gradient" (select)="onSelect($event)">
               </ngx-charts-advanced-pie-chart>
            </div>
         </div>
         <!-- chk-block content closed -->
      </div>
      <!-- chk-block-closed -->
   </div>
</div>
<div class="row">
   <div class="col-sm-6 col-md-4 col-lg-2 col-one-half-lg-down mb-3">
      <div class="bg-primary base-card-border  lazy-up">
         <div class="d-flex bg-white justify-content-between p-4">
            <div>
               <h4 class="fw-normal">Sales</h4>
               <h2 class="fw-normal m-0">81%</h2>
            </div>
            <div class="dash-icon">
               <i class="icon-wallet icons font-xl"></i>
            </div>
         </div>
      </div>
   </div>
   <div class="col-sm-6 col-md-4 col-lg-2 col-one-half-lg-down mb-3">
      <div class="bg-success base-card-border  lazy-up">
         <div class="d-flex bg-white justify-content-between p-4">
            <div>
               <h4 class="fw-normal">Likes</h4>
               <h2 class="fw-normal m-0">47,513</h2>
            </div>
            <div class="dash-icon">
               <i class="icon-like font-xl"></i>
            </div>
         </div>
      </div>
   </div>
   <div class="col-sm-6 col-md-4 col-lg-2 col-one-half-lg-down mb-3">
      <div class="bg-warning base-card-border  lazy-up">
         <div class="d-flex bg-white justify-content-between p-4">
            <div>
               <h4 class="fw-normal">Download</h4>
               <h2 class="fw-normal m-0">1,89,200</h2>
            </div>
            <div class="dash-icon">
               <i class="icon-cloud-download icons font-xl"></i>
            </div>
         </div>
      </div>
   </div>
   <div class="col-sm-6 col-md-4 col-lg-2 col-one-half-lg-down mb-3">
      <div class="bg-green base-card-border  lazy-up">
         <div class="d-flex bg-white justify-content-between p-4">
            <div>
               <h4 class="fw-normal">Profit</h4>
               <h2 class="fw-normal m-0">$4575</h2>
            </div>
            <div class="dash-icon">
               <i class="icon-graph icons font-xl"></i>
            </div>
         </div>
      </div>
   </div>
   <div class="col-sm-6 col-md-4 col-lg-2 col-one-half-lg-down mb-3">
      <div class="bg-danger base-card-border  lazy-up">
         <div class="d-flex bg-white justify-content-between p-4">
            <div>
               <h4 class="fw-normal">Message</h4>
               <h2 class="fw-normal m-0">81%</h2>
            </div>
            <div class="dash-icon">
               <i class="icon-envelope-open icons font-xl"></i>
            </div>
         </div>
      </div>
   </div>
   <div class="col-sm-6 col-md-4 col-lg-2 col-one-half-lg-down mb-3">
      <div class="bg-yellow base-card-border  lazy-up">
         <div class="d-flex bg-white justify-content-between p-4">
            <div>
               <h4 class="fw-normal">Member</h4>
               <h2 class="fw-normal m-0">2,56,784</h2>
            </div>
            <div class="dash-icon">
               <i class="icon-people icons font-xl"></i>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div widget class="col-sm-12 col-md-12 col-lg-4 col-half-lg-down">
      <div class="chk-block">
         <div class="chk-block-title">
            <div class="d-flex justify-content-between">
               <div class="d-flex align-self-center">
                  <h3 class="text-capitalize">To DO List</h3>
               </div>
               <div class="d-inline-flex align-self-center">
                  <div class="chk-contextual-link widget-controls">
                     <a data-widgster="expand" href="javascript:void(0)" class="transition"><i class="icon-plus icons"></i></a>
                     <a data-widgster="collapse" href="javascript:void(0)" class="transition"><i class="icon-minus icons"></i></a>
                     <a data-widgster="close" href="javascript:void(0)" class="transition"><i class="icon-close icons"></i></a>
                     <a data-widgster="fullscreen" href="javascript:void(0)">
                     <i class="icon-size-fullscreen icons"></i>
                     </a>
                     <a data-widgster="restore">
                     <i class="icon-size-actual icons"></i>
                     </a>
                  </div>
                  <!-- Contextual link closed -->
               </div>
            </div>
         </div>
         <div class="chk-block-content widget-body pt-4">
            <div>
               <div class="row pb-3">
                  <div class="col-sm-12">
                     <div class="input-group">
                        <input type="text" value="" class="form-control" placeholder="Add task in list..." (keyup)="addToDoItem($event)" [(ngModel)]="newTodoText" />
                        <div class="input-group-btn">
                           <button class="btn btn-primary" type="button" (click)="addToDoItem($event)">
                           Add
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-12">
                     <ul class="to-do-list-wrap to-do-list-wrap list-unstyled" perfect-scrollbar>
                        <li *ngFor="let item of getNotDeleted()" [ngClass]="{checked: item.isChecked, active: item.isActive}" (mouseenter)="item.isActive=true" (mouseleave)="item.isActive=false">
                        <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                        <input type="checkbox" class="custom-control-input" [(ngModel)]="item.isChecked">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ item.text }}</span>
                        </label>
                        <i class="fa fa-trash text-danger" (click)="item.deleted = true"></i>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- To Do list block -->
   <div widget class="col-sm-12 col-md-12 col-lg-4 col-half-lg-down">
      <div class="chk-block">
         <div class="chk-block-title">
            <div class="d-flex justify-content-between">
               <div class="d-flex align-self-center">
                  <h3 class="text-capitalize">Visitor Stats</h3>
               </div>
               <div class="d-inline-flex align-self-center">
                  <div class="chk-contextual-link widget-controls">
                     <a data-widgster="expand" href="javascript:void(0)" class="transition"><i class="icon-plus icons"></i></a>
                     <a data-widgster="collapse" href="javascript:void(0)" class="transition"><i class="icon-minus icons"></i></a>
                     <a data-widgster="close" href="javascript:void(0)" class="transition"><i class="icon-close icons"></i></a>
                     <a data-widgster="fullscreen" href="javascript:void(0)">
                     <i class="icon-size-fullscreen icons"></i>
                     </a>
                     <a data-widgster="restore">
                     <i class="icon-size-actual icons"></i>
                     </a>
                  </div>
                  <!-- Contextual link closed -->
               </div>
            </div>
         </div>
         <div class="chk-block-content mb-2 widget-body">
            <div class="visitor-stat-block">
               <div class="d-flex justify-content-between">
                  <div class="align-self-center d-flex">
                     <span class="text-primary font-3x align-self-center"><i class="icon-docs icons"></i></span>
                     <p class="font-lg mb-0 pr-2 pl-4 align-self-center d-none-sm">Page Views</p>
                  </div>
                  <div class="align-self-center"> <span class="count-item font-2x">230,609</span> </div>
               </div>
            </div>
            <div class="visitor-stat-block">
               <div class="d-flex justify-content-between">
                  <div class="align-self-center d-flex">
                     <span class="text-success font-3x align-self-center"><i class="icon-globe-alt icons" aria-hidden="true"> </i></span>
                     <p class="font-lg mb-0 align-self-center pr-2 pl-4 d-none-sm">Site Visitors</p>
                  </div>
                  <div class="align-self-center"> <span class="count-item font-2x">210,405</span> </div>
               </div>
            </div>
            <div class="visitor-stat-block">
               <div class="d-flex justify-content-between">
                  <div class="align-self-center d-flex">
                     <span class="text-danger font-3x align-self-center"><i class="icon-cursor icons" aria-hidden="true"></i></span>
                     <p class="font-lg mb-0 align-self-center pr-2 pl-4 d-none-sm">Total Clicks</p>
                  </div>
                  <div class="align-self-center"> <span class="count-item font-2x">420,540</span> </div>
               </div>
            </div>
            <div class="visitor-stat-block">
               <div class="d-flex justify-content-between">
                  <div class="align-self-center d-flex">
                     <span class="text-green font-3x align-self-center"><i class="icon-cloud-upload icons" aria-hidden="true"></i></span>
                     <p class="font-lg mb-0 align-self-center pr-2 pl-4 d-none-sm">Total Downloads</p>
                  </div>
                  <div class="align-self-center"> <span class="count-item font-2x">4,576</span> </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Visitor Block Closed -->
   <div widget class="col-sm-12 col-md-12 col-lg-4 col-full-lg-down">
      <div class="chk-block" ng-reflect-class-base="chk-block">
         <div class="chk-block-title">
            <div class="d-flex justify-content-between">
               <div class="d-flex align-self-center">
                  <h3 class="text-capitalize">Registred User</h3>
               </div>
               <div class="d-inline-flex align-self-center">
                  <div class="chk-contextual-link widget-controls">
                     <a data-widgster="expand" href="javascript:void(0)" class="transition"><i class="icon-plus icons"></i></a>
                     <a data-widgster="collapse" href="javascript:void(0)" class="transition"><i class="icon-minus icons"></i></a>
                     <a data-widgster="close" href="javascript:void(0)" class="transition"><i class="icon-close icons"></i></a>
                     <a data-widgster="fullscreen" href="javascript:void(0)">
                     <i class="icon-size-fullscreen icons"></i>
                     </a>
                     <a data-widgster="restore">
                     <i class="icon-size-actual icons"></i>
                     </a>
                  </div>
                  <!-- Contextual link closed -->
               </div>
            </div>
         </div>
         <div class="chk-block-content pb-0 widget-body">
            <div class="row">
               <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-12-lg-down" *ngFor="let user of users">
                  <div class="chk-thumbnail text-center">
                     <img src="{{user.image}}" class="img-fluid mb-1 circle" alt="user image" width="95" height="95" />
                     <div class="chk-thumbnail-content">
                        <span class="text-primary">{{user.name}}</span>
                        <p class="text-danger small">USA</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Registered User Block Closed -->
</div>
<div class="row">
   <div widget class="col-sm-12 col-md-12 col-lg-4 col-half-lg-down">
      <div class="chk-block">
         <div class="chk-block-title">
            <div class="d-flex justify-content-between">
               <div class="d-flex align-self-center">
                  <h3 class="text-capitalize">Download Data</h3>
               </div>
               <div class="d-inline-flex align-self-center">
                  <div class="chk-contextual-link widget-controls">
                     <a data-widgster="expand" href="javascript:void(0)" class="transition"><i class="icon-plus icons"></i></a>
                     <a data-widgster="collapse" href="javascript:void(0)" class="transition"><i class="icon-minus icons"></i></a>
                     <a data-widgster="close" href="javascript:void(0)" class="transition"><i class="icon-close icons"></i></a>
                     <a data-widgster="fullscreen" href="javascript:void(0)">
                     <i class="icon-size-fullscreen icons"></i>
                     </a>
                     <a data-widgster="restore">
                     <i class="icon-size-actual icons"></i>
                     </a>
                  </div>
                  <!-- Contextual link closed -->
               </div>
            </div>
         </div>
         <div class="chk-block-content widget-body">
            <div class="reports mb-1">
               <hr>
               <div class="d-flex justify-content-between">
                  <div class="">
                     <div class="d-flex">
                        <div class="text-primary align-self-center"> <span><i class="fa fa-file-word-o fa-2x" aria-hidden="true"></i> </span> </div>
                        <div class="pl-3 pr-3 align-self-center">
                           <p class="mb-0">Visitors</p>
                           <span>10-Jan to 10-Feb</span>
                        </div>
                     </div>
                  </div>
                  <div>
                     <a> <i class="fa fa-download fa-lg" aria-hidden="true"></i> </a>
                  </div>
               </div>
               <hr>
               <div class="d-flex justify-content-between">
                  <div class="">
                     <div class="d-flex">
                        <div class="text-primary align-self-center"> <span><i class="fa fa-file-word-o fa-2x" aria-hidden="true"></i> </span> </div>
                        <div class="pl-3 pr-3 align-self-center">
                           <p class="mb-0">Revenue</p>
                           <span>10-Jan to 10-Feb</span>
                        </div>
                     </div>
                  </div>
                  <div>
                     <a> <i class="fa fa-download fa-lg" aria-hidden="true"></i> </a>
                  </div>
               </div>
               <hr>
               <div class="d-flex justify-content-between">
                  <div class="">
                     <div class="d-flex">
                        <div class="text-primary align-self-center"> <span><i class="fa fa-file-powerpoint-o fa-2x" aria-hidden="true"></i></span> </div>
                        <div class="pl-3 pr-3 align-self-center">
                           <p class="mb-0">Stock</p>
                           <span>10-Jan to 10-Feb</span>
                        </div>
                     </div>
                  </div>
                  <div>
                     <a> <i class="fa fa-download fa-lg" aria-hidden="true"></i> </a>
                  </div>
               </div>
               <hr>
               <div class="d-flex justify-content-between">
                  <div class="">
                     <div class="d-flex">
                        <div class="text-primary align-self-center"> <span><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i> </span> </div>
                        <div class="pl-3 pr-3 align-self-center">
                           <p class="mb-0">Member Detail</p>
                           <span>10-Jan to 10-Feb</span>
                        </div>
                     </div>
                  </div>
                  <div>
                     <a> <i class="fa fa-download fa-lg" aria-hidden="true"></i> </a>
                  </div>
               </div>
               <hr>
               <div class="d-flex justify-content-between">
                  <div class="">
                     <div class="d-flex">
                        <div class="text-primary align-self-center"> <span><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i> </span> </div>
                        <div class="pl-3 pr-3 align-self-center">
                           <p class="mb-0">Balance Sheet</p>
                           <span>1-Apr to 31-March</span>
                        </div>
                     </div>
                  </div>
                  <div>
                     <a> <i class="fa fa-download fa-lg" aria-hidden="true"></i> </a>
                  </div>
               </div>
            </div>
            <div class="text-center text-danger"><a class="">View All</a>
            </div>
         </div>
      </div>
      <!-- Download Data Block closed -->
   </div>
   <div widget class="col-sm-12 col-md-12 col-lg-4 col-half-lg-down">
      <div class="chk-block">
         <div class="chk-block-title">
            <div class="d-flex justify-content-between">
               <div class="d-flex align-self-center">
                  <h3 class="text-capitalize">Notifications</h3>
               </div>
               <div class="d-inline-flex align-self-center">
                  <div class="chk-contextual-link widget-controls">
                     <a data-widgster="expand" href="javascript:void(0)" class="transition"><i class="icon-plus icons"></i></a>
                     <a data-widgster="collapse" href="javascript:void(0)" class="transition"><i class="icon-minus icons"></i></a>
                     <a data-widgster="close" href="javascript:void(0)" class="transition"><i class="icon-close icons"></i></a>
                     <a data-widgster="fullscreen" href="javascript:void(0)">
                     <i class="icon-size-fullscreen icons"></i>
                     </a>
                     <a data-widgster="restore">
                     <i class="icon-size-actual icons"></i>
                     </a>
                  </div>
                  <!-- Contextual link closed -->
               </div>
            </div>
         </div>
         <div class="chk-block-content widget-body">
            <div>
               <ul class="pl-0 list-style-none mb-3 ripple-list">
                  <li class="bg-danger pb-3 pt-3 pl-3 pr-3 mb-3 d-flex justify-content-between">
                     <div class="d-flex">
                        <i class="fa-lg icon-space fa fa-exclamation-triangle" aria-hidden="true"></i>
                        <div class="pl-2 pr-2">Site goes is down for 6 hours.</div>
                     </div>
                  </li>
                  <li class="bg-success pb-3 pt-3 pl-3 pr-3 mb-3 d-flex justify-content-between">
                     <div class="d-flex">
                        <i class="fa-lg icon-space fa fa-check" aria-hidden="true"></i>
                        <div class="pl-2 pr-2">New users can grab 30% off offer.</div>
                     </div>
                  </li>
                  <li class="bg-primary pb-3 pt-3 pl-3 pr-3 mb-3 d-flex justify-content-between">
                     <div class="d-flex">
                        <i class="fa-lg icon-space fa fa-smile-o" aria-hidden="true"></i>
                        <div class="pl-2 pr-2">Bug detected from the development team.</div>
                     </div>
                  </li>
                  <li class="bg-warning pb-3 pt-3 pl-3 pr-3 mb-3 d-flex justify-content-between">
                     <div class="d-flex">
                        <i class="fa-lg icon-space fa fa-exclamation" aria-hidden="true"></i>
                        <div class="pl-2 pr-2">Automatic system will be initialize at 10.00 PM.</div>
                     </div>
                  </li>
                  <li class="bg-info pb-3 pt-3 pl-3 pr-3 hide-lap d-flex justify-content-between">
                     <div class="d-flex">
                        <i class="fa-lg icon-space fa fa-info" aria-hidden="true"></i>
                        <div class="pl-2 pr-2">Trash box is almost full.</div>
                     </div>
                  </li>
               </ul>
               <div class="text-center text-danger"><a>View All Notfications</a>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Notification Block Closed -->
   <div widget class="col-sm-12 col-md-12 col-lg-4 col-full-lg-down">
      <div class="chk-block">
         <div class="chk-block-title">
            <div class="d-flex justify-content-between">
               <div class="d-flex align-self-center">
                  <h3 class="text-capitalize">Support</h3>
               </div>
               <div class="d-inline-flex align-self-center">
                  <div class="chk-contextual-link widget-controls">
                     <a data-widgster="expand" href="javascript:void(0)" class="transition"><i class="icon-plus icons"></i></a>
                     <a data-widgster="collapse" href="javascript:void(0)" class="transition"><i class="icon-minus icons"></i></a>
                     <a data-widgster="close" href="javascript:void(0)" class="transition"><i class="icon-close icons"></i></a>
                     <a data-widgster="fullscreen" href="javascript:void(0)">
                     <i class="icon-size-fullscreen icons"></i>
                     </a>
                     <a data-widgster="restore">
                     <i class="icon-size-actual icons"></i>
                     </a>
                  </div>
                  <!-- Contextual link closed -->
               </div>
            </div>
         </div>
         <div class="chk-block-content mb-3 widget-body">
            <div class="d-flex justify-content-between mb-2 ripple">
               <div class="d-flex">
                  <div class="d-none-sm"> <img src="assets/img/user-1.jpg" class="img-fluid mb-1 circle" alt="user image" width="95" height="95" />
                  </div>
                  <div class="pr-3 pl-3">
                     <span><strong>Helena Booneopen </strong></span>
                     <p class="text-over-p">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                  </div>
               </div>
               <div class="w-60-sm align-self-center text-primary text-center">
                  <i class="fa fa-dot-circle-o"></i> Close
               </div>
            </div>
            <div class="d-flex justify-content-between mb-2 ripple">
               <div class="d-flex">
                  <div class="d-none-sm"> <img src="assets/img/user-5.jpg" class="img-fluid mb-1 circle" alt="user image" width="95" height="95" />
                  </div>
                  <div class="pr-3 pl-3">
                     <span><strong>Helena Booneopen </strong></span>
                     <p class="text-over-p">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                  </div>
               </div>
               <div class="w-60-sm align-self-center text-danger text-center">
                  <i class="fa fa-dot-circle-o"></i> Open
               </div>
            </div>
            <div class="d-flex justify-content-between mb-2 ripple">
               <div class="d-flex">
                  <div class="d-none-sm"> <img src="assets/img/user-6.jpg" class="img-fluid mb-1 circle" alt="user image" width="95" height="95" />
                  </div>
                  <div class="pr-3 pl-3">
                     <span><strong>Helena Booneopen </strong></span>
                     <p class="text-over-p">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                  </div>
               </div>
               <div class="w-60-sm align-self-center text-warning text-center">
                  <i class="fa fa-dot-circle-o"></i> Pending
               </div>
            </div>
            <div class="d-flex justify-content-between mb-2 ripple">
               <div class="d-flex">
                  <div class="d-none-sm"> <img src="assets/img/user-7.jpg" class="img-fluid mb-1 circle" alt="user image" width="95" height="95" />
                  </div>
                  <div class="pr-3 pl-3">
                     <span><strong>Helena Booneopen </strong></span>
                     <p class="text-over-p">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                  </div>
               </div>
               <div class="w-60-sm align-self-center text-primary text-center">
                  <i class="fa fa-dot-circle-o"></i> Close
               </div>
            </div>
            <div class="text-center text-danger"><a>View All</a>
            </div>
         </div>
      </div>
   </div>
   <!-- Supports And Tickets Block Closed -->
</div>
<div class="row">
   <div widget class="col-sm-12 col-md-12 col-lg-12">
      <div class="chk-block">
         <div class="chk-block-title">
            <div class="d-flex justify-content-between">
               <div class="d-flex align-self-center">
                  <h3 class="text-capitalize">Download Data</h3>
               </div>
               <div class="d-inline-flex align-self-center">
                  <div class="chk-contextual-link widget-controls">
                     <a data-widgster="expand" href="javascript:void(0)" class="transition"><i class="icon-plus icons"></i></a>
                     <a data-widgster="collapse" href="javascript:void(0)" class="transition"><i class="icon-minus icons"></i></a>
                     <a data-widgster="close" href="javascript:void(0)" class="transition"><i class="icon-close icons"></i></a>
                     <a data-widgster="fullscreen" href="javascript:void(0)">
                     <i class="icon-size-fullscreen icons"></i>
                     </a>
                     <a data-widgster="restore">
                     <i class="icon-size-actual icons"></i>
                     </a>
                  </div>
                  <!-- Contextual link closed -->
               </div>
            </div>
         </div>
         <div class="chk-block-content widget-body">
            <div class="table-responsive">
               <table class="table table-middle table-hover fw-light th-fw-light th-pad-all-sm td-pad-all-sm">
                  <thead>
                     <tr>
                        <th>#</th>
                        <th>Verification</th>
                        <th class="text-center">Username</th>
                        <th>E-mail</th>
                        <th>Mobile</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>1</td>
                        <td class="text-primary">Charles A. Martin</td>
                        <td class="text-center"><span class="small bg-success p-1">Paid</span>
                        </td>
                        <td>example@example.com</td>
                        <td>+1 (795) 784 8989</td>
                     </tr>
                     <tr>
                        <td>2</td>
                        <td class="text-primary">Julie Morgan</td>
                        <td class="text-center"><span class="small bg-danger p-1">Cancel</span>
                        </td>
                        <td>example@example.com</td>
                        <td>+1 (397) 781 2371</td>
                     </tr>
                     <tr>
                        <td>3</td>
                        <td class="text-primary">Shawn Peterson</td>
                        <td class="text-center"><span class="small bg-warning p-1">Pending</span>
                        </td>
                        <td>example@example.com</td>
                        <td>+1 (896) 785 4596</td>
                     </tr>
                     <tr>
                        <td>4</td>
                        <td class="text-primary">Dennis Freeman</td>
                        <td class="text-center"><span class="small bg-danger p-1">Cancel</span>
                        </td>
                        <td>example@example.com</td>
                        <td>+1 (473) 396 7238</td>
                     </tr>
                     <tr>
                        <td>5</td>
                        <td class="text-primary">Ernest Scott</td>
                        <td class="text-center"><span class="small bg-danger p-1">Error</span>
                        </td>
                        <td>example@example.com</td>
                        <td>+1 (285) 457 7458</td>
                     </tr>
                     <tr>
                        <td>6</td>
                        <td class="text-primary">Betty Warren</td>
                        <td class="text-center"><span class="small bg-success p-1">Paid</span>
                        </td>
                        <td>example@example.com</td>
                        <td>+1 (633) 256 9683</td>
                     </tr>
                     <tr>
                        <td>7</td>
                        <td class="text-primary">Lisa W. Edwards</td>
                        <td class="text-center"><span class="small bg-danger p-1">Error</span>
                        </td>
                        <td>example@example.com</td>
                        <td>+1 (739) 875 1256</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
   <!-- Download Data closed -->
</div>

