<div class="chk-block">
    <div class="chk-block-title">
        <h3 class="text-capitalize">Add New Player</h3>
    </div>
    <div class="chk-block-content">
        <div class="row">
            <div class="col-xl-12 mb-12">
              <form [formGroup]="addPlayer" (ngSubmit)="createPlayer()">
                <div class="form-group">
                  <label for="username">UserName</label>
                    <input type="text" class="form-control form-control-lg input-square" id="username" placeholder="UserName" formControlName="username" [ngClass]="{'is-invalid':addPlayer.get('username').invalid && addPlayer.get('username').touched}">
                    <div *ngIf="addPlayer.get('username').hasError('required') && addPlayer.get('username').touched" class="invalid-feedback">UserName is required</div>
                </div>
                <div class="form-group">
                  <label for="firstname">First Name</label>
                    <input type="text" class="form-control form-control-lg input-square" id="firstname" placeholder="First Name" formControlName="firstname" [ngClass]="{'is-invalid':addPlayer.get('firstname').invalid && addPlayer.get('firstname').touched}">
                    <div *ngIf="addPlayer.get('firstname').hasError('required') && addPlayer.get('firstname').touched" class="invalid-feedback">First Name is required</div>
                </div>
                <div class="form-group">
                  <label for="lastname">Last Name</label>
                    <input type="text" class="form-control form-control-lg input-square" id="lastname" placeholder="Last Name" formControlName="lastname" [ngClass]="{'is-invalid':addPlayer.get('lastname').invalid && addPlayer.get('lastname').touched}">
                    <div *ngIf="addPlayer.get('lastname').hasError('required') && addPlayer.get('lastname').touched" class="invalid-feedback">Last Name is required</div>
                </div>
                <div class="form-group">
                  <label for="birthDay">BirthDate</label>
                    <input type="date" class="form-control form-control-lg input-square" id="birthDay" placeholder="birthDay" formControlName="birthDay" [ngClass]="{'is-invalid':addPlayer.get('birthDay').invalid && addPlayer.get('birthDay').touched}">
                     <small id="birthDay" class="form-text text-muted">Example 01/01/2000.</small>
                     <div *ngIf="addPlayer.get('birthDay').hasError('required') && addPlayer.get('birthDay').touched" class="invalid-feedback">birthDay is required</div>
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control form-control-lg input-square" id="email" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email" [ngClass]="{'is-invalid':addPlayer.get('email').invalid && addPlayer.get('email').touched}">
                    <small id="email" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    <div *ngIf="addPlayer.get('email').touched && addPlayer.get('email').invalid" class="invalid-feedback">
                    <div *ngIf="addPlayer.get('email').hasError('required')">
                      Email is required
                    </div>
                    <div *ngIf="addPlayer.get('email').hasError('email') && !addPlayer.get('email').hasError('required')">
                      Invalid Email
                    </div>				    	
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control form-control-lg input-square" id="password" placeholder="Password" formControlName="password" [ngClass]="{'is-invalid':addPlayer.get('password').invalid && addPlayer.get('password').touched}">
                    <div *ngIf="addPlayer.get('password').touched && addPlayer.get('password').invalid" class="invalid-feedback">
                    <div *ngIf="addPlayer.get('password').hasError('required')">
                      password is required
                    </div>
                    <div *ngIf="addPlayer.get('password').hasError('minlength') && !addPlayer.get('password').hasError('required')">
                      Password need to be more than 6 characters
                    </div>				    	
                    </div>
                  </div>
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <select class="form-control form-control-lg input-square" id="gender" formControlName="gender" [ngClass]="{'is-invalid':addPlayer.get('gender').invalid && addPlayer.get('gender').touched}">
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                    </select>
                    <div *ngIf="addPlayer.get('gender').hasError('required') && addPlayer.get('gender').touched" class="invalid-feedback">Gender is required</div>
                </div>
                <div class="form-group">
                  <label for="yerseyNumber">yersey Number</label>
                    <input type="number" class="form-control form-control-lg input-square" id="yerseyNumber" placeholder="yersey Number" formControlName="yerseyNumber" [ngClass]="{'is-invalid':addPlayer.get('yerseyNumber').invalid && addPlayer.get('yerseyNumber').touched}">
                    <div *ngIf="addPlayer.get('yerseyNumber').hasError('required') && addPlayer.get('yerseyNumber').touched" class="invalid-feedback">Yersey Number is required</div>
                </div>
                <div class="form-group">
                  <label for="positions">Positions</label>
                    <textarea type="text" class="form-control form-control-lg input-square" id="positions" placeholder="Positions" formControlName="positions" [ngClass]="{'is-invalid':addPlayer.get('positions').invalid && addPlayer.get('positions').touched}"></textarea>
                    <small class="form-text text-muted">One position per line</small>
                    <div *ngIf="addPlayer.get('positions').hasError('required') && addPlayer.get('positions').touched" class="invalid-feedback">Positions is required</div>
                </div>
                <div class="form-group">
                  <label for="contacts" style="width: 100%">Contacts <!-- <small (click)="addMoreContact()" style="float: right; cursor: pointer;">Add More <i class="fa fa-plus"></i></small> --></label>
                    <div class="row contacts-container">
                      <div class="col-4">
                        <select class="form-control form-control-lg input-square" formControlName="contacts_type" [ngClass]="{'is-invalid':addPlayer.get('contacts_type').invalid && addPlayer.get('contacts_type').touched}">
                          <option value="email">Email</option>
                          <option value="telephone">Phone</option>
                        </select>
                      </div>
                      <div class="col-4">
                        <input type="text" placeholder="Contact Name" class="form-control form-control-lg input-square" formControlName="contacts_name" [ngClass]="{'is-invalid':addPlayer.get('contacts_name').invalid && addPlayer.get('contacts_name').touched}">
                      </div>
                      <div class="col-4">
                        <input type="text" placeholder="value" class="form-control form-control-lg input-square" formControlName="contacts_val" [ngClass]="{'is-invalid':addPlayer.get('contacts_val').invalid && addPlayer.get('contacts_val').touched}">
                      </div>
                    </div>
                    <div #contacts></div>
                    <!-- <textarea class="form-control" id="contacts" rows="3" formControlName="contacts"></textarea>
                    <small id="contacts" class="form-text text-muted">One contact per line.</small>
                    <div *ngIf="addPlayer.get('contacts').hasError('contacts') && addPlayer.get('contacts').touched" class="alert alert-danger">Contacts is required</div> -->
                  </div>
                  <div class="form-group">
                    <label for="nonPlayer">nonPlayer</label>
                    <select class="form-control form-control-lg input-square" id="nonPlayer" formControlName="nonPlayer" [ngClass]="{'is-invalid':addPlayer.get('nonPlayer').invalid && addPlayer.get('nonPlayer').touched}">
                      <option value="true">True</option>
                      <option value="false">False</option>
                    </select>
                    <div *ngIf="addPlayer.get('nonPlayer').hasError('required') && addPlayer.get('nonPlayer').touched" class="invalid-feedback">Non Player is required</div>
                </div>
                <div class="form-group">
                    <label for="managerAccess">managerAccess</label>
                    <select class="form-control form-control-lg input-square" id="managerAccess" formControlName="managerAccess" [ngClass]="{'is-invalid':addPlayer.get('managerAccess').invalid && addPlayer.get('managerAccess').touched}">
                      <option value="true">True</option>
                      <option value="false">False</option>
                    </select>
                    <div *ngIf="addPlayer.get('managerAccess').hasError('required') && addPlayer.get('managerAccess').touched" class="invalid-feedback">Manager Access is required</div>
                </div>
                  <div class="form-group">
                    <label for="teams">Teams</label>
                    <select class="form-control form-control-lg input-square" id="team" formControlName="team"  [ngClass]="{'is-invalid':addPlayer.get('team').invalid && addPlayer.get('team').touched}">
                      <option *ngFor="let team of teams" value="{{team.id}}">{{team.name}}</option>
                    </select>
                    <div *ngIf="addPlayer.get('team').hasError('required') && addPlayer.get('team').touched" class="invalid-feedback">Team is required</div>
                </div>
                <div class="form-group">
                  <input type="file" (change)="uploadImage($event.target.files)" class="form-control">
                  <img src="" height="200" alt="Image preview..." id="previewImg">
                </div>
                  <div class="form-group">
                      <input type="submit" value="Create" class="btn-red" [disabled]="addPlayer.invalid" [ngClass]="{'noActive':addPlayer.invalid}">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>