.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1000;
    left: 0;
    background: rgba(0,0,0,0.7);
    overflow-y:scroll;
    .content{
    	transform: translate(-50%,-50%);
		max-width: 400px;
		top:50%;
		left: 50%;
		width: 100%;
		box-shadow: 2px 5px 20px -4px #000;
		position: absolute;
	    background: white;
    	padding: 20px;
    	z-index: 10
    }
    .close{
	    position: fixed;
	    width: 100%;
	    height: 100%;
	    z-index: 8;
	}
}
.see{
    background: #ff5723
}