<div class="app" #root="$implicit" dir="ltr" [ngClass]="themeSkinColor" [class.app-dark]="dark" [class.boxed]="boxed" [class.collapsed-sidebar]="collapseSidebar" [class.compact-sidebar]="compactSidebar" [class.customizer-in]="customizerIn" [class.chat-window--open]="chatWindowOpen" [class.sidebar-closed]="sidebarClosed" [class.chat-sidebar]="chatSidebar">
<ng-sidebar-container>
   <div ng-sidebar-content>
      <ng-sidebar #sidenav [(opened)]="_opened" [(mode)]="_mode" [(closeOnClickOutside)]="_closeOnClickOutside" [(showBackdrop)]="_showBackdrop">
      <div class="sidebar-panel chankya-sidenav">
         <div class="sidebar-logo-wrap">
            <div class="sidebar-logo d-flex">
               <div class="logo-sign">
                  <img src="assets/img/logo-sign.png" alt="">
               </div>
               <div class="logo-text mr-2 ml-2 align-self-center">
                  <img src="assets/img/chankya-logo.png" width="121" height="16">
               </div>
            </div>
         </div>
         <div class="sidebar-container">
            <div class="user-section text-center">
               <div class="sidebar-user-wrap">
                  <div class="sidebar-user-inner">
                     <div class="d-flex">
                        <div class="thumb-wrap mb-1"><a routerLink="/userprofile"><img alt="TeamSteam Admin" class="img-fluid" id="imgPerfil" src="{{perfilImage}}" width="90" height="90"></a></div>
                        <div class="user-action">
                           <a href="javascript:void(0)" class="text-white"><i class="material-icons">more_horiz</i></a>
                           <div class="sidebar-user-menu">
                              <ul>
                                 <li><a routerLink="/userprofile"><i class="icon-user icons"></i><span>My Profile</span></a></li>
                                 <li><a routerLink="" (click)="logOut()"><i class="icon-logout icons"></i><span>Logout</span></a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="sidebar-user-info-wrap">
                        <div class="sidebar-user-name">{{userData.username}}</div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="sidenav-scrollbar-container">
               <perfect-scrollbar>
                  <nav menuToggleDirective class="navigation">
                     <ul class="chankya-nav"  *ngIf="userData.email.includes('@senorcoders')">
                        <li class="nav-item" menuToggleLink *ngFor="let menuitem of menuItems.getSuperUser()" >
                           <a target="_blank" href="{{menuitem.state}}" *ngIf="menuitem.type === 'ext-link'" tourAnchor="tour-ui">
                               <i class="{{ menuitem.icon }}"></i>
                               <p class="text-nowrap mb-0">
                                  <span>{{ menuitem.name | translate }}</span>
                               </p>
                           </a>
                           <a menuToggle [routerLink]="['/', menuitem.state]" routerLinkActive="active-link" *ngIf="menuitem.type === 'link'">
                           <i class="{{ menuitem.icon }}"></i>
                           <p class="text-nowrap mb-0">
                              <span>{{ menuitem.name | translate }}</span>
                           </p>
                           </a>
                           <a menuToggle href="javascript:void(0)" *ngIf="menuitem.type === 'sub'">
                              <i class="{{ menuitem.icon }}"></i>
                              <p class="text-nowrap mb-0">
                                 <span>{{ menuitem.name | translate }}</span>
                                 <i class="fa fa-caret-down" aria-hidden="true"></i>
                              </p>
                           </a>
                           <ul class="sub-menu chankya-nav" *ngIf="menuitem.type === 'sub'">
                              <li class="nav-item" *ngFor="let childitem of menuitem.children" routerLinkActive="open">
                                 <a [routerLink]="['/', menuitem.state, childitem.state ]" routerLinkActive="active-link">
                                    <i class="icon icon-arrows-right-double"></i>
                                    <p class="text-nowrap mb-0"><span>{{ childitem.name | translate }}</span></p>
                                 </a>
                              </li>
                           </ul>
                        </li>
                     </ul>
                     <ul class="chankya-nav" *ngIf="isManager else menuPlayer">
                        <li class="nav-item" menuToggleLink *ngFor="let menuitem of menuItems.getAll()" >
                           <a target="_blank" href="{{menuitem.state}}" *ngIf="menuitem.type === 'ext-link'" tourAnchor="tour-ui">
                               <i class="{{ menuitem.icon }}"></i>
                               <p class="text-nowrap mb-0">
                                  <span>{{ menuitem.name | translate }}</span>
                               </p>
                           </a>
                           <a menuToggle [routerLink]="['/', menuitem.state]" routerLinkActive="active-link" *ngIf="menuitem.type === 'link'">
                           <i class="{{ menuitem.icon }}"></i>
                           <p class="text-nowrap mb-0">
                              <span>{{ menuitem.name | translate }}</span>
                           </p>
                           </a>
                           <a menuToggle href="javascript:void(0)" *ngIf="menuitem.type === 'sub'">
                              <i class="{{ menuitem.icon }}"></i>
                              <p class="text-nowrap mb-0">
                                 <span>{{ menuitem.name | translate }}</span>
                                 <i class="fa fa-caret-down" aria-hidden="true"></i>
                              </p>
                           </a>
                           <ul class="sub-menu chankya-nav" *ngIf="menuitem.type === 'sub'">
                              <li class="nav-item" *ngFor="let childitem of menuitem.children" routerLinkActive="open">
                                 <a [routerLink]="['/', menuitem.state, childitem.state ]" routerLinkActive="active-link">
                                    <i class="icon icon-arrows-right-double"></i>
                                    <p class="text-nowrap mb-0"><span>{{ childitem.name | translate }}</span></p>
                                 </a>
                              </li>
                           </ul>
                        </li>
                     </ul>
                     <!------------------------>
                     <ng-template #menuTeam>
                         <ul class="chankya-nav">
                           <li class="nav-item" menuToggleLink *ngFor="let menuitem of menuItems.getTeamsMenu()" >
                              <a target="_blank" href="{{menuitem.state}}" *ngIf="menuitem.type === 'ext-link'" tourAnchor="tour-ui">
                                  <i class="{{ menuitem.icon }}"></i>
                                  <p class="text-nowrap mb-0">
                                     <span>{{ menuitem.name | translate }}</span>
                                  </p>
                              </a>
                              <a menuToggle [routerLink]="['/', menuitem.state]" routerLinkActive="active-link" *ngIf="menuitem.type === 'link'">
                              <i class="{{ menuitem.icon }}"></i>
                              <p class="text-nowrap mb-0">
                                 <span>{{ menuitem.name | translate }}</span>
                              </p>
                              </a>
                              <a menuToggle href="javascript:void(0)" *ngIf="menuitem.type === 'sub'">
                                 <i class="{{ menuitem.icon }}"></i>
                                 <p class="text-nowrap mb-0">
                                    <span>{{ menuitem.name | translate }}</span>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                 </p>
                              </a>
                              <ul class="sub-menu chankya-nav" *ngIf="menuitem.type === 'sub'">
                                 <li class="nav-item" *ngFor="let childitem of menuitem.children" routerLinkActive="open">
                                    <a [routerLink]="['/', menuitem.state, childitem.state ]" routerLinkActive="active-link">
                                       <i class="icon icon-arrows-right-double"></i>
                                       <p class="text-nowrap mb-0"><span>{{ childitem.name | translate }}</span></p>
                                    </a>
                                 </li>
                              </ul>
                           </li>
                        </ul>
                    </ng-template>
                     <!------------------------>
                    <ng-template #menuPlayer>
                      <ul class="chankya-nav">
                        <li class="nav-item" menuToggleLink *ngFor="let menuitem of menuItems.getPlayerMenu()" >
                           <a target="_blank" href="{{menuitem.state}}" *ngIf="menuitem.type === 'ext-link'" tourAnchor="tour-ui">
                               <i class="{{ menuitem.icon }}"></i>
                               <p class="text-nowrap mb-0">
                                  <span>{{ menuitem.name | translate }}</span>
                               </p>
                           </a>
                           <a menuToggle [routerLink]="['/', menuitem.state]" routerLinkActive="active-link" *ngIf="menuitem.type === 'link'">
                           <i class="{{ menuitem.icon }}"></i>
                           <p class="text-nowrap mb-0">
                              <span>{{ menuitem.name | translate }}</span>
                           </p>
                           </a>
                           <a menuToggle href="javascript:void(0)" *ngIf="menuitem.type === 'sub'">
                              <i class="{{ menuitem.icon }}"></i>
                              <p class="text-nowrap mb-0">
                                 <span>{{ menuitem.name | translate }}</span>
                                 <i class="fa fa-caret-down" aria-hidden="true"></i>
                              </p>
                           </a>
                           <ul class="sub-menu chankya-nav" *ngIf="menuitem.type === 'sub'">
                              <li class="nav-item" *ngFor="let childitem of menuitem.children" routerLinkActive="open">
                                 <a [routerLink]="['/', menuitem.state, childitem.state ]" routerLinkActive="active-link">
                                    <i class="icon icon-arrows-right-double"></i>
                                    <p class="text-nowrap mb-0"><span>{{ childitem.name | translate }}</span></p>
                                 </a>
                              </li>
                           </ul>
                        </li>
                     </ul>
                    </ng-template>
                    
                   
                  </nav>
               </perfect-scrollbar>
            </div>
         </div>
      </div>
      <!-- sidebar panel closed -->
      </ng-sidebar>
      <section class="main-contents">
         <header class="main-header">
            <div class="d-flex justify-content-between align-items-center chankya-header-toolbar w-100">
               <div class="h-100 d-flex align-items-center col-sm-6 col-md-6 col-lg-6 pl-0 pr-0">
                  <div class="h-100 d-flex justify-content-start align-items-center">
                     <div class="h-100 chankya-ham-icon">
                        <button class="c-hamburger c-hamburger--rot" (click)="sidebarClosedFunction()" (click)="_toggleOpened()">
                        <span>toggle menu</span>
                        </button>
                     </div>
                  </div>
               </div>
               <div class="align-items-end pr-0 col-sm-6 col-md-6 col-lg-6">
                  <div class="d-flex secondary-menu justify-content-end align-items-center">
                     <ul class="nav secondary-menu-list d-flex justify-content-end align-items-center" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                        <li class="dropdown">
                           <a class="relative rounded-bg" href="javascript:void(0)" id="navbarDropdownMenuLin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <img class="rounded-circle" id="previewImgSmall" src="{{perfilImage}}" alt="User-image" width="43" height="43">
                              <div class="online-caret bg-success circle"><i class="fa fa-caret-down"></i></div>
                           </a>
                           <div class="dropdown-menu rounded-0 dropdown-menu-right p-0" aria-labelledby="navbarDropdownMenuLin">
                              <a class="dropdown-item  d-flex pt-3" routerLink="/userprofile">
                                 <div class="icon-area  align-self-start">
                                    <i class="fa fa-user"></i>
                                 </div>
                                 <div class="icon-msg ml-2 mr-2"> <span class="align-self-start d-block ">My Profile</span>
                                 </div>
                              </a>    
                              <a class="dropdown-item  d-flex pb-2" routerLink="">
                                 <div class="icon-area align-self-start">
                                    <i class="fa fa-power-off"></i>
                                 </div>
                                 <div class="icon-msg ml-2 mr-2"> <span class="align-self-start d-block " (click)="logOut()">Logout</span>
                                 </div>
                              </a>
                           </div>
                        </li>                        
                     </ul>
                  </div>
               </div>
            </div>
         </header>
         <!-- main header closed -->
         <div class="chankya-base-container" #scrollContainer>
            <div class="d-flex justify-content-between align-items-center page-info w-100 d-none-sm">
               <a class="navbar-brand" href="javascript:void(0)">{{header}}</a>
               <breadcrumb class="chankya-breadcrumbs"></breadcrumb>
            </div>
            <div class="inner-container">
               <router-outlet (activate)="onActivate($event, scrollContainer)"></router-outlet>
               <tour-step-template>
                  <ng-template let-step="step">
                     <p class="tour-step-content">{{step?.content}}</p>
                     <div class="tour-step-navigation">
                        <button *ngIf="tourService.hasPrev(step)" class="btn btn-sm" (click)="tourService.prev()"><i class="material-icons">arrow_back</i> Prev</button>
                        <button *ngIf="tourService.hasNext(step)" class="btn btn-sm" (click)="tourService.next()">Next <i class="material-icons">arrow_forward</i></button>
                        <button class="btn btn-sm btn-socondary rounded-0" (click)="tourService.end()">End</button>
                     </div>
                  </ng-template>
               </tour-step-template>
               
            </div>
         </div>
         <!-- chankya base container closed -->
      </section>
      <!-- main content closed -->
   </div>
   <!-- Sidebar Closed -->
</ng-sidebar-container>

<!-- Chankya customize closed -->
<!-- Modal -->
<div class="modal fade search-modal" id="search-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
   <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
   <div class="modal-dialog" role="document">
      <div class="container">
         <div class="mb-5">
            <input class="overlay-search" placeholder="Search...">
         </div>
         <div class="search-suggestion">
            <span class="d-block mb-3"><strong>Sugguestions</strong></span>
            <ul class="row search-list">
               <li class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-4">
                  <a href="javascript:void(0)"><span class="d-inline-block square-50 circle bg-success">A</span><span class="search-filter mx-1">admin themes</span> in angular4</a>
                  <span class="d-block">@themeforest</span>
               </li>
               <li class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-4">
                  <a href="javascript:void(0)"><span class="d-inline-block square-50 circle bg-success">H</span><span class="search-filter mx-1">5 Star Hotels</span> in hotal</a>
                  <span class="d-block">@abcdehotels</span>
               </li>
               <li class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-4">
                  <a href="javascript:void(0)"><span class="d-inline-block square-50 circle bg-success">F</span><span class="search-filter mx-1">air ticket</span> in flights</a>
                  <span class="d-block">@airindia</span>
               </li>
               <li class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-4">
                  <a href="javascript:void(0)"><span class="d-inline-block square-50 circle bg-success">D</span><span class="search-filter mx-1">css design</span> in designs</a>
                  <span class="d-block">@csstricks</span>
               </li>
               <li class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-4">
                  <a href="javascript:void(0)"><span class="d-inline-block square-50 circle bg-success">C</span><span class="search-filter mx-1">programming</span> in code</a>
                  <span class="d-block">@abcdproject</span>
               </li>
               <li class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-4">
                  <a href="javascript:void(0)"><span class="d-inline-block square-50 circle bg-success">M</span><span class="search-filter mx-1">dunkirk</span> in movies</a>
                  <span class="d-block">@imdb</span>
               </li>
            </ul>
         </div>
      </div>
   </div>
</div>
<div class="chat-window">
   <div class="chat-window-i">
      <div class="user-name-chat bg-grey d-flex justify-content-between">
         <span class="align-self-center">Dekota James</span> <a href="javascript:void(0)" (click)="chatWindowFunction()"><i class="material-icons align-self-center">close</i></a>
      </div>
      <div class="chat-inner">
         <ul>
            <li class="user-msg mb-3">
               <div class="d-flex">
                  <img src="{{perfilImage}}" class="circle chat-user-img" width="55" height="55" alt="user-image">
                  <div class="msg-detail px-2">
                     <span class="text-primary d-block mb-1">Dekota</span>
                     <div class="box-shadow p-2 msg-box mb-1">
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, magni?
                        </p>
                     </div>
                     <div class="time text-muted"><small>3 min ago</small></div>
                  </div>
               </div>
            </li>
            <li class="my-msg mb-3">
               <div class="d-flex">
                  <img src="assets/img/user-2.jpg" class="circle chat-user-img" width="55" height="55" alt="user-image">
                  <div class="msg-detail px-2">
                     <span class="text-primary d-block mb-1">Admin</span>
                     <div class="box-shadow p-2 msg-box mb-1">
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing.
                        </p>
                     </div>
                     <div class="time text-muted"><small>3 min ago</small></div>
                  </div>
               </div>
            </li>
         </ul>
      </div>
      <div class="send-msg-chat p-3">
         <input class="form-control form-control-lg mb-3" placeholder="Type message" type="text">
         <button class="btn btn-primary" type="submit">Send</button>
      </div>
   </div>
</div>
</div>
<!-- app closed -->

