.password-change{
  margin-top:20px
}
.edit-img{
    background: transparent;
    border: 0;
}
.user-profile-wrapper .top-block, .bg-success{
	background: #fe324d !important;
}
.btn-danger {
    background-color: #008e76 !important;
    border-color: #008e76 !important;
}