.error {
    border: 1px solid red !important;
}

.fa.re-action {
    cursor: pointer;
    color: #fe324d !important;
}

h5 {
    padding-left: 15px !important;
    color: #414658 !important;
    margin-top: 1rem;
    font-weight: 400 !important;

}

.item {
    div {
        border-bottom: 1px solid #a7b3c5;
        margin-bottom: .5rem;
    }
}
