.backgroundImage{
	width:300px; 
	height:300px; 
	background-color:#c6c6c6; 	
	background-position:cover;
}
.pop-up{
	position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
	.content{
		position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    width: 400px;
	    height: 400px;
	    background: white;
	    padding: 10px;
	    border-radius: 4px;
	    box-shadow: 0px 0px 19px -2px black;
	    max-width: 100%;
	    img{
	    	width: 100%;
	    }
	}
}
.form-group img{
	width: 100%;
}
.edit{
	color: #fe324d;
}
.delete{
    color: #008e76;
   }