#repeats-days{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    h4{
        width: 10%;
        flex-basis: 10%;
        text-align: center;
        margin-top: 0 !important;
        font-size: 1.2rem !important;
        color: #c7cbcf;
        font-weight: bold;
        cursor: pointer;
    }
    h4.select{
        color: #fe324d !important;
    }
}