	.edit{
		color: #fe324d;
		font-size: 1.5rem;
	}
	.delete{
	    color: #008e76;
	    font-size: 1.5rem;
	}
$breakpoint-tablet: 768px;
	.badge{
		float: right;
	}
@media (min-width: $breakpoint-tablet) {
	.modal-lg {
    	max-width: 1000px;
	}  
}
