.action{
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}

#search{
    padding: 10px;
    padding-left: 0;
    margin-bottom: 15px;
    input{
        width:100%;
        display: block;
    }
}

.cover-photos{
    width: 40px;
    height: 40px;
}