<div class="chk-block">
    <div class="chk-block-title">
        <h3 class="text-capitalize">Add League</h3>
    </div>
    <!-- user and player form -->
    <div class="chk-block-content">
        <div class="row">
            <div class="col-xl-12 mb-12">
                <form [formGroup]="form" (submit)="saveLeague()">
                    <div class="form-group">
                        <label for="username">Name</label>
                        <input type="text" class="form-control form-control-lg input-square" id="username" placeholder="UserName" formControlName="name"
                            [ngClass]="{'is-invalid':form.get('name').invalid && form.get('name').touched}">
                        <div *ngIf="form.get('name').hasError('required') && form.get('name').touched" class="invalid-feedback">name
                            is required</div>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" class="form-control form-control-lg input-square" id="firstname" placeholder="Description" formControlName="description">
                    </div>
                    <div class="form-group">
                        <label for="team">Teams</label>
                        <li *ngFor="let team of teams" value="{{team.id}}">{{team.name}}></li>
                        <button class="btn btn-primary btn-square" (click)="addTeam()">Add Team</button>
                    </div>
                    <div class="form-group">
                        <label for="owners">Owners</label>
                        <li *ngFor="let owner of owners" value="{{owner.id}}">{{owner.firstName+ " "+ owner.lastName}}></li>
                        <button class="btn btn-primary btn-square">Add Owner</button>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary btn-block btn-lg btn-square" [disabled]="form.invalid">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>