<div class="chk-block">
    <!--<div class="chk-block-title">
            <h3 class="text-capitalize">Add User</h3>
        </div>-->
    <div class="chk-block-content">
        <div class="row">
            <div class="col-sm-6 col-lg-6 col-xl-3 mb-3">
                <div class="form-group">
                    <label for="teams">Choose Team</label>
                    <select [(ngModel)]="team" class="form-control form-control-lg input-square" (change)="getEvents()">
                        <option *ngFor="let team of teams" value="{{team.team.id}}">{{team.team.name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6 col-xl-3 mb-3">
                <div class="form-group">
                    <label for="teams">By</label>
                    <select [(ngModel)]="by" class="form-control form-control-lg input-square" (change)="getEvents()">
                        <option  value="upcoming">Upcoming</option>
                        <option  value="past">Past</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- Button trigger modal -->
        <div class="row">
            <div class="col-sm-6 col-lg-6 col-xl-3 mb-3" *ngFor="let event of events; let i = index;  trackBy: trackByUsers" [attr.data-index]="i">
                <div class="card">
                    <figure class="imghvr-zoom-in"><img (error)="errorHandler($event)" src="{{endpoint}}/images/wherever/events/{{event.id}}-thumbnail"
                            class="img-fluid" alt="example-image">

                    </figure>
                    <div class="card-body text-center">
                        <p>{{event.name}}</p>
                        <p class="text-muted">{{event.description}}</p>
                    </div>
                    <div class="card-footer text-center">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <a data-toggle="modal" data-target="#editModal" (click)="editEvent(event)" href="javascript:void(0)"><i
                                            class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</a>
                                </div>
                                <!-- <div class="col">
                                    <a (click)="deleteUser(i, user.id)" href="javascript:void(0)"><i class="fa fa-trash-o"
                                            aria-hidden="true"></i>Delete</a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>