<div class="chk-block">
    <!--<div class="chk-block-title">
            <h3 class="text-capitalize">Add User</h3>
        </div>-->
    <div class="chk-block-content">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <select [(ngModel)]="team" class="form-control form-control-lg input-square event-team" (change)="getEvents()">
                        <option *ngFor="let team of teams" value="{{team.team.id}}">{{team.team.name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <select [(ngModel)]="by" class="form-control form-control-lg input-square event-time" (change)="getEvents()">
                        <option  value="upcoming">Upcoming</option>
                        <option  value="past">Past</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- Button trigger modal -->
        <div class="row" *ngIf="this.showEvents;else noEvent">
            <div class="col-12 mb-3 event" *ngFor="let event of events; let i = index;  trackBy: trackByUsers" [attr.data-index]="i">
                <div class="row" (click)="detailEvent(event)">
                    <div class="col-3 col-md-2">
                        <!-- <img (error)="errorHandler($event)" src="{{endpoint}}/images/wherever/events/{{event.id}}-thumbnail" class="img-fluid" alt="example-image"> -->
                        <div class="calendar">
                            <span class="month">{{getMonthName(event.dateTime)}}</span>
                            <span class="day">{{getDay(event.dateTime)}}</span>
                        </div>
                        <div class="location">{{event.locationDetail}}</div>
                    </div>
                    <div class="col-6 col-md-8">
                        <p>{{event.name}}</p>
                        <p class="text-muted">{{event.description}}</p>
                    </div>
                    <div class="col-3 col-md-2">
                      <span class="hour">{{getHours(event.dateTime)}}</span>  
                    </div>
                </div>
            </div>
        </div>
        <ng-template #noEvent>
            <div class="row"><div class="col" style="color: #008e76;text-align: center;font-size: 1.3rem;letter-spacing: 2px;">Well, this is boring. Add events</div></div>
        </ng-template>
    </div>
</div>