<div class="pricing-wrapper">
    <div class="row">
        <div class="col-sm-12 co-md-8 col-lg-6 mx-auto">
            <div class="chk-heading text-center mb-5">
                <h2 class="text-capitalize mb-4 font-2x fw-bold">Choose your perfect plan</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xl-4">
            <div class="card text-center">
                <div class="card-body">
                    <label class="ribbon top-left ribbon-primary">
                        <span class="fa fa-star"></span>
                    </label>
                    <p class="text-primary font-2x">Basic</p>
                    <h2 class="font-4x">$150</h2>
                    <p class="text-capitalize mb-4 text-muted">per month</p>
                    <hr>
                    <div class="card-feature mb-4">
                        <ul class="list-unstyled">
                            <li><span class="mr-2"><i class="fa fa-area-chart"></i></span> 100+ Graph &amp; Charts</li>
                            <li><span class="mr-2"><i class="fa fa-inbox"></i></span> 100+ Components</li>
                            <li><span class="mr-2"><i class="fa fa-adjust"></i></span> 10+ Themes color</li>
                            <li><span class="mr-2"><i class="fa fa-sliders"></i></span> 100+ Features</li>
                            <li><span class="mr-2"><i class="fa fa-cubes"></i></span> 100+ Icons</li>
                        </ul>
                    </div>
                    <a href="javascript:void(0)" class="btn btn-primary btn-lg"><i class="la la-cart-plus mr-2 la-lg"></i> Buy Now</a>
                </div>
            </div><!-- Card Closed -->
        </div>
        <div class="col-md-12 col-lg-12 col-xl-4">
            <div class="card text-center">
                <div class="card-body">
                    <label class="ribbon top-left ribbon-warning">
                        <span class="fa fa-star"></span>
                    </label>
                    <p class="text-warning font-2x">Enterprise</p>
                    <h2 class="font-4x">$250</h2>
                    <p class="text-capitalize mb-4 text-muted">per month</p>
                    <hr>
                    <div class="card-feature mb-4">
                        <ul class="list-unstyled">
                            <li><span class="mr-2"><i class="fa fa-area-chart"></i></span> 100+ Graph &amp; Charts</li>
                            <li><span class="mr-2"><i class="fa fa-inbox"></i></span> 100+ Components</li>
                            <li><span class="mr-2"><i class="fa fa-adjust"></i></span> 10+ Themes color</li>
                            <li><span class="mr-2"><i class="fa fa-sliders"></i></span> 100+ Features</li>
                            <li><span class="mr-2"><i class="fa fa-cubes"></i></span> 100+ Icons</li>
                        </ul>
                    </div>
                    <a href="javascript:void(0)" class="btn btn-warning btn-lg"><i class="la la-cart-plus mr-2 la-lg"></i> Buy Now</a>
                </div>
            </div><!-- Card Closed -->
        </div>
        <div class="col-md-12 col-lg-12 col-xl-4">
            <div class="card text-center">
                <div class="card-body">
                    <label class="ribbon top-left ribbon-success">
                        <span class="fa fa-star"></span>
                    </label>
                    <p class="text-success font-2x">Pro</p>
                    <h2 class="font-4x">$350</h2>
                    <p class="text-capitalize mb-4 text-muted">per month</p>
                    <hr>
                    <div class="card-feature mb-4">
                        <ul class="list-unstyled">
                            <li><span class="mr-2"><i class="fa fa-area-chart"></i></span> 100+ Graph &amp; Charts</li>
                            <li><span class="mr-2"><i class="fa fa-inbox"></i></span> 100+ Components</li>
                            <li><span class="mr-2"><i class="fa fa-adjust"></i></span> 10+ Themes color</li>
                            <li><span class="mr-2"><i class="fa fa-sliders"></i></span> 100+ Features</li>
                            <li><span class="mr-2"><i class="fa fa-cubes"></i></span> 100+ Icons</li>
                        </ul>
                    </div>
                    <a href="javascript:void(0)" class="btn btn-success btn-lg"><i class="la la-cart-plus mr-2 la-lg"></i> Buy Now</a>
                </div>
            </div><!-- Card Closed -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xl-4">
            <div class="card bg-primary text-center">
                <div class="card-body">
                    <p class="font-2x">Basic</p>
                    <h2 class="font-4x">$150</h2>
                    <p class="text-capitalize mb-4">Per Month</p>
                    <hr>
                    <div class="card-feature mb-4">
                        <ul class="list-unstyled">
                            <li><span class="mr-2"><i class="fa fa-area-chart"></i></span> 100+ Graph &amp; Charts</li>
                            <li><span class="mr-2"><i class="fa fa-inbox"></i></span> 100+ Components</li>
                            <li><span class="mr-2"><i class="fa fa-adjust"></i></span> 10+ Themes color</li>
                            <li><span class="mr-2"><i class="fa fa-sliders"></i></span> 100+ Features</li>
                            <li><span class="mr-2"><i class="fa fa-cubes"></i></span> 100+ Icons</li>
                        </ul>
                    </div>
                    <a href="javascript:void(0)" class="btn btn-secondary btn-lg"><i class="la la-cart-plus mr-2 la-lg"></i> Buy Now</a>
                </div>
            </div><!-- Card Closed -->
        </div>
        <div class="col-md-12 col-lg-12 col-xl-4">
            <div class="card bg-warning text-center">
                <div class="card-body">
                    <label class="ribbon top-left ribbon-primary">
                        <span class="fa fa-star"></span>
                    </label>
                    <p class="font-2x">Enterprise</p>
                    <h2 class="font-4x">$150</h2>
                    <p class="text-capitalize mb-4">Per Month</p>
                    <hr>
                    <div class="card-feature mb-4">
                        <ul class="list-unstyled">
                            <li><span class="mr-2"><i class="fa fa-area-chart"></i></span> 100+ Graph &amp; Charts</li>
                            <li><span class="mr-2"><i class="fa fa-inbox"></i></span> 100+ Components</li>
                            <li><span class="mr-2"><i class="fa fa-adjust"></i></span> 10+ Themes color</li>
                            <li><span class="mr-2"><i class="fa fa-sliders"></i></span> 100+ Features</li>
                            <li><span class="mr-2"><i class="fa fa-cubes"></i></span> 100+ Icons</li>
                        </ul>
                    </div>
                    <a href="javascript:void(0)" class="btn btn-secondary btn-lg"><i class="la la-cart-plus mr-2 la-lg"></i> Buy Now</a>
                </div>
            </div><!-- Card Closed -->
        </div>
        <div class="col-md-12 col-lg-12 col-xl-4">
            <div class="card bg-success text-center">
                <div class="card-body">
                    <p class="font-2x">Pro</p>
                    <h2 class="font-4x">$150</h2>
                    <p class="text-capitalize mb-4">Per Month</p>
                    <hr>
                    <div class="card-feature mb-4">
                        <ul class="list-unstyled">
                            <li><span class="mr-2"><i class="fa fa-area-chart"></i></span> 100+ Graph &amp; Charts</li>
                            <li><span class="mr-2"><i class="fa fa-inbox"></i></span> 100+ Components</li>
                            <li><span class="mr-2"><i class="fa fa-adjust"></i></span> 10+ Themes color</li>
                            <li><span class="mr-2"><i class="fa fa-sliders"></i></span> 100+ Features</li>
                            <li><span class="mr-2"><i class="fa fa-cubes"></i></span> 100+ Icons</li>
                        </ul>
                    </div>
                    <a href="javascript:void(0)" class="btn btn-secondary btn-lg"><i class="la la-cart-plus mr-2 la-lg"></i> Buy Now</a>
                </div>
            </div><!-- Card Closed -->
        </div>
    </div>
</div><!-- Pricing Wrapper Closed -->